body {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #30588C;
}

.loader {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f1f2f2;
  color: black;
  flex-direction: column;
}

.pacman {
  width: 100px;
}

.city-container {
  background-color: #45B3BF;
  border-radius: 3px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 3px;
}

.city {
  font-size: 15px;
  padding: 4px;
  margin: 0;
}

.container {
  background-color: #3786A6;
}

.container-app {
  display: flex;
  border-radius: 10px;
  width: 350px;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}

img {
  width: 100px;
}

p {
  text-align: center;
  margin: 0;
}

h5 {
  margin: 0;
  font-size: 0.71em;
}

.temperature-number {
  margin: 0;
  font-size: 40px;
}

.container-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  background-color: #45B3BF;
  margin: 3px;
  border-radius: 3px;
  padding: 10px;
}

.container-temperature {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: #45B3BF;
  margin: 3px;
  border-radius: 3px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.container-additional {
  display: flex;
  justify-content: space-around;
  background-color: #45B3BF;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.weather-img {
  width: 150px;
  margin: 0;
}

.type-of-weather {
  text-transform: capitalize;
  font-size: 20px;
}

button {
  padding: 3px;
  color: white;
  background-color: #30588C;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  border-radius: 3px;
  width: 80px;
}